extends _layout/layout
block variables
    - var title = "Home"
    - var description = "Welcom to my website"
    
block body
    h1 He ho ho
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem non assumenda, voluptatum ad, excepturi iure nobis illo odit, animi nihil exercitationem. Doloribus reiciendis aliquam tempore molestiae odio voluptates sapiente consequuntur!
