include ../_include/_variables

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title} - #{description}
        //- NHÚNG CSS -//
        include ../_include/_css.pug
        //- /////////////
    body
        //- HEADER -//
        include header.pug
        //- //////////
        //- MAIN -//
        main
            block body
        //- //////////
        //- FOOTER -//
        include footer.pug
        //- NHÚNG JS -//
        //- include ../_include/_script.pug
        //- /////////////